/* Add some basic styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #FBDCE2;
}

h1 {
    color: #57063e;
}

.favorites-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cocktail-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #f1d4ed;
}
.cocktail-card:hover {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
transition: .3s ease;
    background-color: #d7a7d0;
}

.cocktail-card img {
    max-width: 100%;
    height: auto;
}

.cocktail-card h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #dd36ab;
}

#clearButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e772be;
    border-radius: 5px;
    border-color: #e19acc;
    text-decoration: none;
    color: #f7f6f6;
    font-weight: bold;
    cursor: pointer;
}
#clearButton:hover {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #580a3d;
    transition: .3s ease;
    border-radius: 5px;
    border-color: #e19acc;
    text-decoration: none;
    color: #f7f6f6;
    font-weight: bold;
    cursor: pointer;
}
.home a{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #e77bd6;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.home a:hover{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #e77bd6;
    background-color: #ebd0e7;
    transition: .3s ease;
    border-radius: 3px;
    text-decoration: none;
    color: #de37ba;
    font-weight: bold;
}