@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color:#FBDCE2;
}

h1 {
    color: #333;
}

.alphabet-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.alphabet-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #e77bd6;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.alphabet-link:hover{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: .3s ease;
    background-color: #45083d;
    color: white;
    border-radius: 3px;
    text-decoration: none;
  
    font-weight: bold;  
}

.cocktail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cocktail-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f4e4ef;
    border-radius: 10px;
    box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.cocktail-card:hover {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border:1px solid #4e0c3b;
    background-color: #ef93d2;
    transition: .3s ease;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cocktail-card img {
    max-width: 100%;
    height: auto;
}

.cocktail-card h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

.favorites-link {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #2a15e4;
}

.heading h1 {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    width: 210px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    border: 2px solid #222;
    padding: 5px 11px 3px 11px;
}
.heading h1:hover {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    background-color: #9EA3B0;
    color: white;
    transition: .3s ease;
    cursor: pointer;
    letter-spacing: 0px;
    text-transform: uppercase;
    width: 210px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    border: 2px solid #e0a6a6;
    padding: 5px 11px 3px 11px;
}

.heading h1:before,
.heading h1:after {
    background-color: #940d69;
    position: absolute;
    content: '';
    height: 7px;

    width: 7px;
    border-radius: 20px;
    bottom: 12px;
}

.heading h1:before {
    left: -20px;
}

.heading h1:after {
    right: -20px;
}

h1:before,
h1:after {
    background-color: #9EA3B0;
}
.link a{
    color: #000;
    font-weight: bold;
font-style: inherit;
    text-decoration: underline;
}
.link a:hover {
    box-shadow: inset 0 -1.125em 0 #9EA3B0;
    color: #000;
    transition: .3s ease;
}

.link a:focus {
    background: #fff;
    outline: none;
    background: #ff6407;
    color: #fff;
    box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.2);
}
.link-two a {
	color: black;
	background-image: linear-gradient(to bottom, transparent 90%, #9EA3B0 0);
	background-size: 0% 100%;
	background-repeat: no-repeat;
	text-decoration: none;
	transition:.4s ease;
}

.link-two a:hover {
	background-size: 100% 100%;
	cursor: pointer;
}

